.red {
    color:green;
}
.line {
    width:30px;
}
.pre {
    transition:transform 1s;
}
:root {
    --mainColor:red;
}

.get-color {
    color: var(--mainColor);
}
.img {
    width:500px;
    height:500px;
    background: url('../img/1.jpg');
}